# typical gitignore file for javascript projects
# http://www.toptal.com/developers/gitignore/api/node

# dependencies
node_modules

# testing
coverage

# production
build
.next

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
```

## ESLint

- [ESLint](https://eslint.org/) is a tool for identifying and reporting on patterns found in ECMAScript/JavaScript code, with the goal of making code more consistent and avoiding bugs.
- [Airbnb JavaScript Style Guide](
